.main {
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url("./images/bg/bglonger.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .main {
    background-image: none;
    background-color: #eeeeee;
    background-image: url("./images/bg/fds.png");
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    /* padding-top: 2rem; */
  }
}
